<nav class="navbar navbar-expand-sm navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="bi bi-x-diamond-fill"></i> {{site.title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if page.url contains '/project' %} active {% endif %}" href="/projects"><i class="bi bi-code-slash"></i> Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url contains '/blog' %} active {% endif %}" href="/blog"><i class="bi bi-journal-text"></i> Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url contains '/search' %} active {% endif %}" href="/search"><i class="bi bi-search"></i> Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url contains '/about' %} active {% endif %}" href="/about"><i class="bi bi-file-person"></i> About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>