---
layout: home
---

<div class="text-center">
    <h1>{{page.title}}</h1>
    {% unless page.subtitle == "" %}
        <h4>{{page.subtitle}}</h4>
    {% endunless %}
    <h6 class="text-muted">
        {{page.date | date_to_long_string}}
        {% unless page.author == "" %}
        &#183; {{page.author}}
        {% endunless %}
    </h6>
</div>
<hr class="mb-3">

{{content}}

<hr class="mb-3">

<!-- TAGS -->
<div>
    {% for tag in page.tags %}
        {% if forloop.length > 0%}
            {% if forloop.first == true %}
                <i class="bi bi-tags"></i>
                <span>tags:</span>
            {% endif %}

            {% if forloop.last %}
                <span>{{tag}}</span>
            {% else %}
                <span>{{tag}},</span>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

<!-- CATEGORIES -->
<div class="mb-5">
    {% for category in page.categories %}
        {% if forloop.length > 0%}
            {% if forloop.first == true %}
                <i class="bi bi-bookmark"></i>
                <span>categories:</span>
            {% endif %}

            {% if forloop.last %}
                <span>{{category}}</span>
            {% else %}
                <span>{{category}},</span>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

<div class="row">
    <div class="col-6">
        {% if page.previous %}
            <span><i class="bi bi-caret-left-fill"></i></span>
            Previous post
            <a href="{{page.previous.url}}"><h5 class="mt-3">{{page.previous.title}}</h5></a>
            <small class="text-muted">{{page.previous.date | date_to_long_string}}</small>
        {% endif %}
    </div>
    <div class="col-6 text-end">
        {% if page.next %}
            Next post
            <span><i class="bi bi-caret-right-fill"></i></span>
            <a href="{{page.next.url}}"><h5 class="mt-3">{{page.next.title}}</h5></a>
            <small class="text-muted">{{page.next.date | date_to_long_string}}</small>
        {% endif %}
    </div>
</div>